<div class="post-card">
  <div class="post-card-image-container">
    <a href="{{ .RelPermalink }}" class="post-card-link">
      <div class="post-card-image">
        <img src="{{ .Params.image | default .Params.hero | relURL }}" alt="{{ .Title }}" loading="lazy">
      </div>
    </a>
  </div>
  <div class="post-card-content">
    <h3 class="post-card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <p class="post-card-excerpt">{{ .Params.summary }}</p>
    <div class="post-card-meta">
      <span class="post-card-date">{{ .Date.Format "Jan 02, 2006" }}</span>
    </div>
  </div>
</div>
